* {
    box-sizing: border-box;
  }
body{
    font-family:'Reenie Beanie';
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.centrar{display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;}

#contenido{
        line-height: 1;    
        text-align:left;     
        width: 275px;    
        margin: 0px auto;    
        min-height:250px;
        padding-top:35px auto;
        position:relative;   
        border:1px solid #E8E8E8;  
        border-top:60px solid #fdfd86;
        font-family:'Reenie Beanie';    
        font-size:22px;      
        border-bottom-right-radius: 60px 5px;   
        background: #ffff88; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
      background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#contenido:after {     
    content: "";
   position:absolute;
   z-index:-1;
   right:-0px; bottom:20px;
   width:200px;
   height: 25px;
   background: rgba(0, 0, 0, 0.2);
   box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
 -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
       -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
          transform: matrix(-1, -0.1, 0, 1, 0, 0);
 }
.completado{
    text-decoration: line-through;
    color: gray;
}
ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }
  li {
    height: 40px;
    line-height: 40px;
    color: rgb(35, 35, 122);
  }
  li:nth-child(even) {
    color: rgb(5, 5, 59);
  }
  h1 {
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    color: rgb(54, 54, 54);
  }
  input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 500px;
    padding: 13px 13px 13px 20px;
    border: none;
    color: rgb(54, 54, 54);
  }
  input:focus {
    background-color: #fff;
    outline: none;
    border: 1px solid #2980b9;
  }
.fa-eraser{ float: right;}
span {
    color: gray;
    margin-right: 20px;
    text-align: center;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
  opacity: 0;
  }
  li:hover span {
    width: 40px;
    opacity: 1;
   }
.fa-arrows-alt-v {margin: 0 3px;
    line-height: 40px;
    color: rgb(54, 54, 54);
    margin-right: 30px;
}
#tools{display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 40px;}

    .fa-trash-restore-alt{margin: 0 3px;
        line-height: 40px;
        color: rgb(54, 54, 54);
    }
    